* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
}

main {
  max-width: 1200px;
  margin: 1rem auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.grid-container img {
  width: 100%;
  height: auto;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'foggy living'
      'table door'
      'apartments island';
  }

  .grid-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .foggy-beach {
    grid-area: foggy;
  }

  .living-room {
    grid-area: living;
  }

  .table {
    grid-area: table;
  }

  .red-door {
    grid-area: door;
  }

  .apartments {
    grid-area: apartments;
  }

  .island {
    grid-area: island;
  }
}

@media (min-width: 899px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'foggy table apartments'
      'foggy door apartments'
      'living door island';
  }
}
