@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #0f98bd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10rem 0;
}

h1,
h3 {
  color: #fff;
  font-size: 3rem;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tab {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.open-tab {
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.5rem;
}

.answer {
  background-color: #e3e3d9;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.5rem;
  display: none;
}

.answer.active {
  display: inline;
}
