* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

:root {
  --main-font: 'Arial';
  --header-font: 'Caveat';
}

body {
  color: #000;
  font-family: var(--main-font);
}

/* Navbar Menu */
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  background: url(/images/halloween.png) no-repeat center/cover transparent;
  height: 6rem;
  width: 6rem;
  margin-right: 1rem;
}

.name {
  font-size: 2rem;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #000;
}

.nav-link:hover {
  cursor: pointer;
  border-bottom: 1px solid #000;
}

header {
  margin-top: 5rem;
  justify-self: center;
  margin-bottom: 10rem;
}

header h1 {
  font-family: var(--header-font);
  font-size: 6rem;
}

main {
  display: flex;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.section {
  flex: 1;
  border-right: 1px solid #000;
}

.section h2 {
  font-family: var(--header-font);
  font-size: 4rem;
}

.card {
  padding: 2rem 2rem;
}

/* Projects */
.project-card {
  margin-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}

.project-card::after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: #000;
  bottom: 0;
  left: -2rem;
  right: -2rem;
}

.project-card h3 {
  font-size: 2rem;
}

.project-description,
.project-tech-stack {
  font-size: 1.5rem;
}

.project-card span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #000;
  margin-top: 2rem;
}

/* Work Experience */
.work-experience-cards {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  position: relative;
}

.work-experience-card {
  position: relative;
  padding-bottom: 5rem;
}

.work-experience-card::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: #000;
  left: -2rem;
  right: -2rem;
}

.work-experience-name {
  font-size: 3rem;
  font-family: var(--header-font);
  font-weight: 100;
  padding: 2rem 0 2rem 0;
}

.work-experience-description {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.work-experience-card a {
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(0, 140, 255);
}

/* Education */
.education-description {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.course-list p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.course-list ul {
  font-size: 1.5rem;
  list-style: none;
  padding-left: 1rem;
}

.course-list ul li::before {
  content: '- ';
  color: #000;
}

/* Reviews */
.reviews {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.reviews-header {
  padding: 2rem 0 2rem 4rem;
}

.review {
  border: 1px solid #000;
  border-radius: 15px;
  width: 30rem;
  padding: 1rem;
  text-align: left;
}

.review-text {
  font-size: 2rem;
}

.review-credentials {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
  color: #a1a1a1;
}

/* Footer */
footer {
  font-size: 3rem;
  font-family: var(--header-font);
  text-align: center;
  padding: 10rem 0;
}

footer h3 {
  font-weight: 300;
}

/* Contact Page */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

form {
  width: 20%;
  border: 1px solid #000;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
}

form label {
  font-size: 2rem;
}

form input {
  width: 50%;
}

form input[id='text'] {
  height: 7rem;
  padding: 0 10px;
}

.form-container button {
  width: 25%;
  align-self: center;
}

/* Media Queries */
@media (max-width: 400px) {
  nav {
    flex-direction: column;
  }

  .nav-menu {
    gap: 5px;
    font-size: 1.75rem;
  }

  .nav-right {
    justify-content: center;
    margin-top: 2rem;
  }

  header {
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  header h1 {
    font-size: 4rem;
  }

  main {
    flex-direction: column;
  }

  .section {
    border-right: none;
  }

  .card h2 {
    text-align: center;
    position: relative;
  }

  .section h2 {
    font-size: 3.5rem;
  }

  .card h2::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: #000;
    bottom: 0;
    left: -2;
    right: -2;
  }

  .project-card {
    text-align: center;
  }

  .project-name {
    font-size: 0.5rem;
  }

  .project-description,
  .project-tech-stack {
    display: none;
  }

  .work-experience-cards {
    gap: 0;
  }

  .work-experience-card {
    padding-bottom: 2rem;
  }

  .review:not(:first-child) {
    display: none;
  }

  footer {
    font-size: 2.75rem;
    padding: 2rem 0;
  }
}
