@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Mulish', sans-serif;
  background-color: #784de5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 500px;
}

.input-container {
  background-color: #fff;
  height: 10rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  gap: 1rem;
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.3);
}

#dob {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  background-color: #784de52d;
  font-size: 1.75rem;
  font-family: inherit;
  padding: 1rem;
}

#dob:focus {
  outline: none;
}

#calculate-btn {
  width: 40%;
  height: 100%;
  border: none;
  border-radius: 10px;
  background-color: #784de5;
  color: #fff;
  font-size: 2rem;
  font-family: inherit;
  cursor: pointer;
}

.age-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.age-box {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.3);
  height: 12rem;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.age-box h2 {
  font-size: 6rem;
  font-weight: 300;
}

.age-box p {
  font-size: 2rem;
  color: #666;
}
